/*====================Variables para el main.scss===========================*/

$height100: 100%;
$width100: 100%;
$colorGold: gold;
$colorAliceBlue: aliceblue;
$colorWhite: white;
$colorWhiteSmoke: whitesmoke;
$colorGrey: grey;
$colorTeal: teal;
$colorCyan: cyan;
$colorDarkCyan: darkcyan;
$colorBurlywood: burlywood;
$colorAzure: azure;
$colorFirebrick: firebrick;
$colorSteelblue: steelblue;