@import "./parciales/fondo";
@import "./parciales/mixins";
@import "./parciales/responsive";
@import "./parciales/variables";

// Aplicando estilos al Header

.divIconos{
    background-color: rgb(58, 57, 57);

    &__tabla{
        margin: 0 auto;

        &__iconoContacto{
            @include ancho_y_alto(7.5rem, 5rem);
        }
    }
}

.contenedorDelCarrito {
    margin-right: 12rem;
}

.carousel{
    @include ancho_y_alto($width100, 45rem);

    &__imagenSlide{
        @include ancho_y_alto($width100, 45rem);
    }
    &__slideTexto{
        background-color: rgba(0, 0, 0, 0.7);

        & h5{
            font-size: 2rem;
        }
        & p{
            font-size: 1.5rem;
        }
    }
}

.precioProducto{
    display: inline;
}

@include movilHeader{
    .divIconos__tabla__iconoContacto{
        @include ancho_y_alto(4rem, 5rem);
    }
    .carousel{
        @include ancho_y_alto($width100, 32rem);
        
        &__imagenSlide{
            @include ancho_y_alto($width100, 32rem);
        }
    
        &__slideTexto{
    
            & h5{
                font-size: 1.4rem;
            }
            & p{
                font-size: 1rem;
            }
        }
    }
}

/*================Aplicando SASS en las secciones del archivo compra.html===========================*/

#cargando {
    display: none;
    margin-right: 5rem !important;
    width: 20rem !important;
    height: 10rem !important;
}

/*================Aplicando SASS en las secciones del archivo contacto.html=========================*/

.contenidoContacto{
    box-sizing: border-box;
    background: #181818;
    color: $colorWhite;
    padding: 1rem;

    &__h1{
        text-align: center;
        font-size: 3em;
        padding-bottom: 1rem;
    }
    &__envoltura{
        box-shadow: 0 0 20px rgba(255, 255, 255, .3);
        padding: 1.5em;
        display: grid;
        grid-template-columns: 2fr 1fr;

        &__formulario{
            background-color: #222222;
        }
        &__formulario form p{
            margin: 0;
            padding: 1rem;
        }

        &__formulario form label{
            font-size: 1.4em;
        }

        &__formulario form button,
        &__formulario form input,
        &__formulario form textarea {
            width: $width100;
            font-size: 1.25em;
            padding: .7em;
            border: none;
            background: none;
            border: 2px solid #d63031;
            outline: none;
            color: $colorWhite;
        }

        &__formulario form button{
            background: #b70e21;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
            border-radius: 0.5rem;
        }
        &__formulario form button:hover{
            background: #d63031;
            color: $colorWhite;
            transition: background-color 1s ease-out;
        }

        &__info{
            padding: 1em;
            text-align: center;
            font-size: 1.25rem;
            margin: 0 0 1rem 0;
        }
        &__info ul{
            list-style: none;
            padding: 1.5rem;
        }
    }
}

.bloque{
    grid-column: 1/3;
}

@include samsungGalaxyFold {
    .contenidoContacto__envoltura{
        &__info {
            font-size: 0.75rem !important;
        }
    }
    #imagenHomero {
        width: 10rem !important;
    }
}

@media (max-width: 576px){
    .contenidoContacto__envoltura{
        display: block;

        &__formulario form label{
            font-size: 1em;
        }
        &__formulario form button,
        &__formulario form input,
        &__formulario form textarea {
            font-size: 0.8em;
        }

        &__info{
            font-size: 1rem;
        }
    }
    #imagenHomero {
        width: 14rem;
    }
}

@media (min-width: 576px) and (max-width: 960px){
    .contenidoContacto__envoltura{
        display: block;

        &__info{
            font-size: 1.25rem;
        }
    }
}

// Aplicando estilos al Footer

.footer{
    display: table;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $colorWhite;
    background-color: rgb(35, 39, 44);
    width: $width100;
    margin: 0 auto;

    &__tabla{
        margin: 0 auto;

        &__subtitulo {
            text-align: center;
        }
        &__seccion{
            padding: 0 4.5rem;
            text-align: center;

            & ul {
                padding: 0;

                & li {
                    text-align: left;
                }
            }
        }
        & ul {
            list-style: none;
        }
    }
}
#copyRight{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

@include movilFooter{
    .footer{
        margin: 0 auto;

        &__tabla__subtitulo {
            font-size: 1rem;
        }
        &__tabla__seccion {
            padding: 0 0.9rem;
            font-size: 0.8rem;
        }
        &__tabla__seccion ul li {
            text-align: center;
        }
        &__tabla__seccion ul li img{
            display: block;
            margin: 0 auto;
        }
    }
}

@include tabletFooter{
    .footer{

        &__tabla__seccion{
            padding: 0 1.25rem;
        }
    }
}

@include netbookFooter{
    .footer{
        &__tabla__subtitulo {
            font-size: 2rem;
        }
        &__tabla__seccion{
            padding: 0 4rem;
            font-size: 1.75rem;
        }
    }
}